@media only screen and (min-width: 600px) {
  .contact {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
  }

  .section-social-contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20rem;
    padding: 15px;
  }
  
  .icon-contact {
    width: 5rem;
    margin-left: 20px;
    cursor: pointer;
  }
  
  .section-mail-header-contact {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }

  .section-social-contact a {
    text-decoration: none;
    display: flex;
    align-items: center;
  }

  .section-social-contact a p {
    margin-left: 5px;
  }

}