@media only screen and (max-width: 599px){
  .container-project-card {
    width: 15rem;
    height: 14rem;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 30px;
  }

  .description-project-card {
    border: solid 0.1rem;
    border-top: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 8px;
  }

  .headling-project-card {
    font-size: 12px;
  }

  .paragraph-project-card {
    font-size: 9px;
  }

  .section-tags-project-card {
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
  }
}
