@media only screen and (min-width: 600px){
  .tag-cards-projects{
    padding: 8px;
    margin: 2px;
    font-size: 10px;
    height: 1rem;
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}