* {
  font-family: -apple-system, BlinkMacSystemFont,
  'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
  'Open Sans', 'Helvetica Neue', sans-serif;
  color: whitesmoke;
  padding: 0;
  margin: 0; 
}

body {
  background-color: #192340;
}
/*Small smartphones [325px -> 425px]*/

/*Components*/

@import url('./components/Header/header-small.css');
@import url('./components/Footer/footer-small.css');
@import url('./components/CardProjects/CardProjects-small.css');
@import url('./components/Tag/Tag-Small.css');
@import url('./components/FormsMail/FormsMail-Small.css');

/*Pages*/

@import url('./pages/home/home-small.css');
@import url('./pages/aboutme/about-small.css');
@import url('./pages/projects/projects-small.css');
@import url('./pages/contact/contact-small.css');

/*Tablets [601px ->]*/

/*Components*/

@import url('./components/Header/header-big.css');
@import url('./components/Footer/footer-big.css');
@import url('./components/Tag/Tag-Big.css');

/*Pages*/

@import url('./pages/home/home-big.css');
@import url('./pages/projects/projects-big.css');
@import url('./pages/aboutme/about-big.css');