@media only screen and (min-width: 600px){
  /*Small smartphones [325px -> 425px]*/
  header {
    display: flex;
    background-color: #192340;
    padding: 8px;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo {
    width: 7rem;
  }

  .navigator {
    display: flex;
    justify-content: space-around;
    width: 20rem;
  }

  .selectedPage {
    color: #A0FAA6;
    position: relative;
  }

  .animated-border {
		color: #fff;
		padding: 1px;
    height: 1px;
		animation: blinkingBackground 2s infinite;
	}
  @keyframes blinkingBackground{
		0%		{ background-color: #A0FAA6;}
		25%		{ background-color: #40615d;}
		50%		{ background-color: #A0FAA6;}
		75%		{ background-color: #40615d;}
		100%	{ background-color: #A0FAA6;}
	}

  .link {
    position: relative;
    cursor: pointer;
  }

  .link::after, .selectedPage::after {
    content: '';
    background-color: #A0FAA6;
    width: 0%;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.3s ease-in-out;
  }

  .link:hover::after, .selectedPage::after {
    width: 100%;
  }
}