@media only screen and (min-width: 600px) {
  /* Verde: #A0FAA6 Azul: #192340 */
  .home {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .main-home {
    text-align: left;
    display: flex;
    align-items: center;
  }

  .paragraph-home {
    font-size: x-large;
  }

  .name-main-home {
    color:#A0FAA6;
    font-size: xxx-large;
  }
  
  .more-button {
    width: 10rem;
    height: 3rem;
    background-color: #A0FAA6;
    color: #192340;
    font-weight: 500;
  }
}